@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Say Hi!</h1>
</div>

<form method="post">
	<div class="form-group">
		<label asp-for="FirstName" />
		<input asp-for="FirstName" type="text" placeholder="Type your first name." />
		<label asp-for="LastName" />
		<input asp-for="LastName" type="text" placeholder="Type your first name." />
		<button type="submit" class="btn btn-primary">Say Hi!</button>
	</div>
</form>

<div class="text-center">
	<h2>@Model.Greeting</h2>
</div>
